.tiny_codepro-editor-area {
    width: 100%;
    height: 500px;
}
.tiny_codepro-themeselector { 
    max-width: 150px!important; 
    margin-right: auto!important;
}
.tiny_codepro-editor-area .cm-editor {
    height: 100%;
}