/* stylelint-disable declaration-no-important */
.tiny_codepro-editor-area {
    width: 100%;
    min-height: 300px;
    max-height: 500px;
}
.tiny_codepro-themeselector {
    max-width: 150px !important;
    margin-right: auto !important;
}
.tiny_codepro-editor-area .cm-editor {
    height: 100vh;
    min-height: 300px;
}
.tiny_codepro-editor-area .cm-gutter, .tiny_codepro-editor-area .cm-content {
    min-height: 300px;
}
.tiny_codepro-editor-area .cm-editor.cm-focused {
    outline: none;
}
.tiny_codepro-fullscreen .modal-content {
    height: 100%;
}
.tiny_codepro-fullscreen #codepro_editorroot {
    height: 100% !important;
}
.tiny_codepro-fullscreen .tiny_codepro-editor-area {
    max-height: unset !important;
}
.tiny_codepro-dark .modal-content {
    background: #2e2e2e;
}
.tiny_codepro-dark .modal-header h5,
.tiny_codepro-dark .modal-header span {
    color: whitesmoke;
}
.tiny_codepro-dark .modal-header {
    border-bottom: 1px solid #3e3e3e;
}
.tiny_codepro-dark .modal-footer {
    border-top: 1px solid #3e3e3e;
}
.tiny_codepro-left {
    margin-right: auto !important;
}
.tiny_codepro-left > button {
    width: 40px;
}
@media screen and (min-width: 576px) {
    .tiny_codepro-dlg {
        max-width: 85% !important;
    }    
}
.tiny_codepro-fullscreen {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 100% !important;
}