{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_codepro/plugin

    Modal to manage components within the Tiny Editor.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    elementid - The ID of the element to be edited.
    canUserSwitchUI - Whether the user is allowed to switch between dialog and panel UI modes or not.

    Example context (json):
    {
        "elementid": "id_of_element",
        "canUserSwitchUI": true
    }
}}
{{< core/modal }}
    {{$title}}
        {{#str}} pluginname, tiny_codepro {{/str}}
    {{/title}}
    {{$body}}
        <div id="codepro_{{elementid}}" class="tiny_codepro-editor-area"> 
        </div>
    {{/body}}
    {{$footer}}
        <div class="tiny_codepro-left">
            {{#canUserSwitchUI}}<button class="btn btn-light" data-view="panel" title="{{#str}} openpanel, tiny_codepro {{/str}}"><i class="fa fa-eye"></i></button>{{/canUserSwitchUI}}
            <button class="btn btn-light" data-fs="false" title="{{#str}} fullscreen, tiny_codepro {{/str}}"><i class="fa fa-arrows-alt"></i></button>
            <button class="btn btn-light" data-theme="light" title="{{#str}} themes, tiny_codepro {{/str}}"><i class="fa fa-sun-o"></i></button>
            <button class="btn btn-light" data-wrap="true" title="{{#str}} linewrap, tiny_codepro {{/str}}"><i class="fa fa-exchange"></i></button>
            <button class="btn btn-light" data-prettify title="{{#str}} prettify, tiny_codepro {{/str}}"><i class="fa fa-magic"></i></button>
        </div>
        <button class="btn btn-secondary" data-action="cancel">{{#str}} cancel, tiny_codepro {{/str}}</button>
        <button class="btn btn-primary" data-action="save">{{#str}} save, tiny_codepro {{/str}}</button>
    {{/footer}}
{{/ core/modal }}